.App{
    // display: flex;
    // justify-content:center;
    h1 {
        display: flex;
        justify-content:center;
    }
    .container{
        display: flex;
        justify-content:center;
        flex-direction: column;
        margin: auto;
        img {
            width: 150px;
            object-fit: contain;
        }
        table {
            display: block;
            width: 50%;
            margin: 0 auto;
            th {
                text-align: left;
                cursor: pointer;
                display: block;
            }
            tbody {
                display: block;
            }
            tr {
                display: flex;
                justify-content: space-between;
                td {
                    text-align: center;
                }
            }

        }
    }
    .header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color:#ededed;
    }
}